@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

* {
    margin: 0; padding: 0; box-sizing: border-box;
    font-family: 'Kanit', sans-serif, FontAwesome;
}

/* Color Palette */
$redCrayola: #ED254E; $naplesYellow: #F9DC5C; $teaGreen: #C2EABD; $oxfordBlue: #011936; $Charcoal: #465362;

body {
    background-color: $oxfordBlue;
    .navMenu {
        text-align: center;
        padding: 0.5rem;     
        .active { color: #ED254E; text-shadow: 0px 0px 8px rgba(237, 37, 78, 1); }       
        a {
            color: white;
            font-size: 16px; text-decoration: none; text-transform: uppercase;  
            padding: 0 1em; border-right: 2px dotted $redCrayola; transition: all 0.2s ease-in-out;
            &:last-child { border-right: 0; }
            &:hover { color: $redCrayola; }
        }
    }

    .container, .border-radius-properties, .border-rad-individual, .border-preview, .preview, .border-code { 
        display: flex; align-items: center; justify-content: center; flex-wrap: wrap; 
    }

    .container {
        min-height: 90vh;
        .card-container {
            width: 525px; height: auto;
            padding: 1em; border-radius: 10px; box-shadow: 0px 0px 5px 5px $Charcoal;
            background-color: $teaGreen; text-align: center;              

            .title {
                font-size: 14px; font-weight: bold;
                color: $oxfordBlue; user-select: none;
            }
            .border-radius-properties {                 
                flex-direction: row; flex-wrap: nowrap;

                .column {
                    width: 100%; 
                    padding: 1em 0.5rem; border-radius: 5px 5px 0 0; border: 2px solid $oxfordBlue; border-bottom-style: dotted; 
                    background-color: $redCrayola; color: white;   

                    .input-group {
                        display: flex; flex-direction: column; justify-content: center; margin-bottom: 5px; 
  
                        label {                       
                            width: 100%; height: 25px;
                            font-size: 15px; margin-bottom: 0;
                        }   
                        input::-webkit-outer-spin-button, input::-webkit-inner-spin-button { -webkit-appearance: none; margin: 0; }
                        input[type = number] {
                            width: 25px; height: 25px;
                            appearance: none; -moz-appearance: textfield; text-align: center; font-size: 9px;
                            border: 0; margin: 0 !important; border-radius: 5px !important;
                        }  

                        .input-row { display: flex; align-items: center; width: 100%; gap: 5px; }
                        .form-range {
                            flex: 1; height: 25px; cursor: pointer;
                        }

                        span { font-size: 10px; line-height: 2; }  
                    }    
                }

                .individual { 
                    display: none; 
                    flex-direction: column;
                    &:nth-child(2) { border-top-right-radius: 0; border-right: 0; }
                    &:nth-child(3) { border-top-left-radius: 0; border-left-style: dotted; }                                     
                }      
            }  

            .form-check {
                margin: 0; padding: 5px 0; background-color: $redCrayola; color: #FFF; 
                border: 2px solid $oxfordBlue; border-top: 0; border-bottom-style: dotted;
                label { font-size: 14px; line-height: 1.75; }
                input {
                    float: initial; margin-inline: 10px; margin-top: 0;
                    vertical-align: middle; border-color: $oxfordBlue; cursor: pointer;
                }
            }

            .reset-container {
                background-color: $redCrayola; border: 2px solid $oxfordBlue; border-top: 0;
                border-radius: 0 0 5px 5px; padding: 5px;
                .reset-btn {
                    background-color: $Charcoal;
                    padding: 5px 10px; font-size: 12px;
                    &:hover { background-color: #000; }
                    i { font-size: 10px; }
                }
            }

            .border-preview {   
                margin: 10px 0;
                .preview {
                    width: 115px; height: 115px; position: relative;
                    background-color: $naplesYellow; border: 2px solid $oxfordBlue;
                    span {
                        position: absolute; color: $oxfordBlue;
                        font-size: 12px; letter-spacing: 1px; opacity: .5; user-select: none;
                    }
                }
            }

            .border-code {
                flex-wrap: nowrap;
                .form-floating {
                    width: 100%;
                    textarea {
                        height: 75px;
                        border: 2px solid $oxfordBlue; border-radius: 5px; cursor: copy;
                        font-size: 14px; color: $oxfordBlue;      
                        &::selection { background-color: $naplesYellow; }                  
                    } 
                    label { font-size: 14px; }
                }
                button {
                    background-color: $redCrayola;
                    margin-left: 5px; transition: 0.25s;
                    &:hover { 
                        background-color: var(--bs-btn-hover-bg); scale: 1.05;
                    }
                }
            }                     
        }
    }   
}